# Virtual environments
venv/
.venv/

# cache
__pycache__/
.pytest_cache/

# Build artifacts
dist/
build/
*.egg-info/
.DS_Store
docs/doctrees/
docs/html/
docs/_build/
docs/_source/
docs/_templates/

# IDE-specific files
.idea/
.vscode/
